/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    text-align: center;
}

.board .leaderboard {
    margin-bottom: 1em;
}

.board .duration {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button {
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active {
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile {
    margin-top: 3em;
}

#profile .flex {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item {
    display: flex;
    align-items: center;
}

#profile .flex img {
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info {
    padding: 1em;
}

.text-dark {
    color: var(--color-dark);
}
/* Button styles */
.button {
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #282c34;
    border-radius: 5px;
    background-color: white;
    color: #282c34;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button:hover {
    background-color: #282c34;
    color: white;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .sub-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px; /* Adjusted width to create more space */
    padding: 0 20px; /* Optional padding for extra spacing */
  }
  
  .sub-buttons .button {
    flex: 1;
    margin: 0 10px;
  }
  
  